body {
  width: 100%;
  min-width: 640px;
  font-family: Calibri, Arial, sans-serif;
}

header {
  font-size: 44px;
  width: 100%;
  background: #bbbbbb;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 1px 0 #c9c9c9, 0 2px 0 #bbb, 0 3px 0 #b9b9b9,
    0 3px 0 #aaa, 0 4px 1px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 3px 3px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.2),
    0 7px 7px rgba(0, 0, 0, 0.15);
  text-align: center;
  border: 4px #aaaaaa ridge;
  margin: 0px;
}

h1 {
  margin: 0px;
}

ol {
  font-size: 28px;
}

li {
  padding: 5px 0px 5px 0px;
  font-size: 24px;
}

.input-bar {
  width: 99%;
  margin: 0px 0px 20px 0px;
  border: 4px #aaaaaa ridge;
  background: #dedede;
  padding: 10px 0px 10px 10px;
}

.shopping-list {
  width: 100%;
  height: 480px;
  display: flex;
  border: 4px #aaaaaa ridge;
  background: #dedede;
}

#add-item {
  font-family: Calibri, Arial, sans-serif;
  font-size: 40pt;
  background-color: lightskyblue;
  border-radius: 30px;
  border-color: lightskyblue;
  color: darkslategray;
}

#new-item-text {
  font-family: Calibri, Arial, sans-serif;
  font-size: 40pt;
  border-radius: 30px;
  border-color: lightskyblue;
  color: darkslategray;
}
